<nav class="navbar navbar-dark bg-dark">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="navbar-brand nav-link" routerLink="employees" routerLinkActive="active">Employees List</a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand nav-link" routerLink="addemployee" routerLinkActive="active">Add employee</a>
    </li>
  </ul>

</nav>
<router-outlet></router-outlet>

<footer class="blockquote-footer footer">
  Copyright Ganni 2021. All rights reserved .
</footer>